<a href="https://colab.research.google.com/github/Akhilchegonda/Akhil_INFO5731_Fall2023/blob/main/Akhil_Chegonda_INFO5731_Assignment_1_Fall_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random

# Generate 12 random numbers
set_of_12 = [random.randint(1,100) for i in range(12)]
#Ascending Order
Ascending_Order = sorted(set_of_12)
#Descending Order
Descending_Order = sorted(set_of_12,reverse= True)
# Average of the Group
Average_of_12 = sum(set_of_12)/len(set_of_12)

#outputs
print('set_of_12:',set_of_12)
print("Ascending_Order:",Ascending_Order)
print("Descending_Order:",Descending_Order)
print("Average_of_12:",Average_of_12)

set_of_12: [89, 15, 91, 82, 88, 12, 58, 59, 89, 98, 98, 67]
Ascending_Order: [12, 15, 58, 59, 67, 82, 88, 89, 89, 91, 98, 98]
Descending_Order: [98, 98, 91, 89, 89, 88, 82, 67, 59, 58, 15, 12]
Average_of_12: 70.5

# Question 2
(25 points).

Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
import string

#Enter two sentence
sentence_1 = input("Enter the sentence 1:")
sentence_2 = input("enter the sentence 2:")

#function to Split the sentence in to list
def list_words(sentence):
  words = sentence.split()
  return words

# split the sentence to list
words_1 = list_words(sentence_1)
words_2 = list_words(sentence_2)
#outputs
print("list of words_1",words_1)
print("list of words_2",words_2)

Enter the sentence 1:University of North Texas ! Welcome .
enter the sentence 2:College of Information Science , Computational Methods .
list of words_1 ['University', 'of', 'North', 'Texas', '!', 'Welcome', '.']
list of words_2 ['College', 'of', 'Information', 'Science', ',', 'Computational', 'Methods', '.']

In [ ]:
# compare the string and generate the common words
#create Function
def to_find_common_words(sentence1,sentence2):
  s1 = set(list_words(sentence_1))
  s2 = set(list_words(sentence_2))
  common_words = list(s1.intersection(s2))
  return common_words
# common words
common_words = to_find_common_words(sentence1,sentence2)
print("common words in two sentence:",common_words)

# Remove the punctuation from the sentence
def remove_punctuation(sentence):
  no_punctuation = str.maketrans(" "," ",string.punctuation)
  return sentence.translate(no_punctuation)

sentence1_without_punctuation = remove_punctuation(sentence_1)
sentence2_without_punctuation = remove_punctuation(sentence_2)
print("sentence1_without_punctuation :",sentence1_without_punctuation)
print("sentence2_without_punctuation :",sentence2_without_punctuation)

# Count number vowel in the sentence

# create function to count
def count_vowels(sentence):
    vowels = "aeiouAEIOU"
    counts = {vowel: 0 for vowel in vowels}
    for char in sentence:
        if char in counts:
          counts[char] += 1
          return counts

# count
counts1 = count_vowels(sentence1)
counts2 = count_vowels(sentence2)
print("Vowel counts in the first sentence:", counts1)
print("Vowel counts in the second sentence:",counts2)

common words in two sentence: ['of', '.']
sentence1_without_punctuation : University of North Texas  Welcome
sentence2_without_punctuation : College of Information Science  Computational Methods
Vowel counts in the first sentence: {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 1}
Vowel counts in the second sentence: {'a': 0, 'e': 0, 'i': 0, 'o': 1, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

# Question 3

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
import math
#calculate the value of "V" when "r" is in range 1-10
for r in range(1,11):
  V = (4/3)*math.pi*(r**3)
  print(f"{r}\t{V:.2f}")

1	4.19
2	33.51
3	113.10
4	268.08
5	523.60
6	904.78
7	1436.76
8	2144.66
9	3053.63
10	4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# load the file
import pandas as pd
file = pd.read_csv('/Assignment1_denton_housing.csv')
file.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [ ]:
#Year wise housing data collected and mapped accordingly.
house_dict={}
for j in sorted(list(set(file['year'])))[:-1]:
  prev_year = 0
  next_year = 0
  for col, row in file.iterrows():
    if row['year'] == j and row['title_field'] == 'Occupied Housing Units':
      prev_year += row['value']
    if row['year'] == j+1 and row['title_field'] == 'Occupied Housing Units':
      next_year += row['value']
  house_dict[str(j)+'-'+str(j+1)] = abs(prev_year - next_year)
print(house_dict)

{'2008-2009': 795, '2009-2010': 5091, '2010-2011': 303, '2011-2012': 1404, '2012-2013': 1565, '2013-2014': 2622}

In [ ]:
#Year wise house count in ascending order printed.
sorted_list=sorted(house_dict.values())
year_wise_house_data_ascending={}
for i in sorted_list:
  for k in house_dict.keys():
    if(house_dict[k]==i):
      year_wise_house_data_ascending[k]=house_dict[k]
#Printing the data in ascending order.
for key,value in year_wise_house_data_ascending.items():
  print(key,":",value)

2010-2011 : 303
2008-2009 : 795
2011-2012 : 1404
2012-2013 : 1565
2013-2014 : 2622
2009-2010 : 5091

In [ ]:
#Using the year column data in sorted order
sorted_year_data = sorted(list(set(file['year'])))
for temp_year in sorted_year_data:
  vacant = 0
  year = 0
  number_of_houses = 0
  occupied_ones = 0
  for col, row in file.iterrows():
    #Taking the count for total number of houses
    if row['year'] == temp_year and row['title_field'] == 'Total Housing Units' :
      year = row['year']
      number_of_houses = row['value']
    #Count for Occupied ones
    if row['year'] == temp_year and  row['title_field'] == 'Occupied Housing Units' :
      occupied_ones = row['value']
    #Count for vacant ones.
    if row['year'] == temp_year and  row['title_field'] == 'Vacant Housing Units' :
      vacant = row['value']
  #Calculating the occupied and vacant percentages and change to int type
  percent_occupied = int((occupied_ones / number_of_houses) * 100)
  percent_vacant = int((vacant / number_of_houses) * 100)
  #Formating the output as per requirement.
  print(year," ",str(percent_vacant)+'%'," ",str(percent_occupied)+'%')

2008   10%   89%
2009   9%   90%
2010   8%   91%
2011   9%   90%
2012   6%   93%
2013   8%   91%
2014   5%   94%

In [ ]:
number_of_years=0
house_vacant_years=0
maximim_number_occupied_units=0
maximim_number_vacant_units=0
sorted_year_data = sorted(list(set(file['year'])))
for year_data in sorted_year_data:
 for column,row in file.iterrows():
    if row['year'] == year_data and  row['title_field'] == 'Occupied Housing Units' :
      if row['value']>maximim_number_occupied_units:
        maximim_number_occupied_units=row['value']
        number_of_years=row['year']
    if row['year'] == year_data and  row['title_field'] == 'Vacant Housing Units' :
      if row['value']>maximim_number_vacant_units:
        maximim_number_vacant_units=row['value']
        house_vacant_years=row['year']
print('                       ', 'year',   'value')
print('Occupied Housing Units ' , number_of_years,   maximim_number_occupied_units)
print('Vacant Housing Units   ' ,  house_vacant_years , maximim_number_vacant_units)

                        year value
Occupied Housing Units  2014 46295
Vacant Housing Units    2008 4483

In [ ]:
total_housing = list()
for col, row in file.iterrows():
  if row['title_field'] == 'Total Housing Units':
    total_housing.append(row['value'])
total = len(total_housing)
d_v = 0
for i in total_housing:
  d_v += (1/i)
print(total/d_v)

44398.28543969185